<div class="px-28 nav-menu pt-10">
    <div class="flex justify-between py-32">
        <div style="width: 550px;">
            <div class="title-home">
                <h1 class="text-emerald-500 text-lg font-bold tracking-tight mb-10">WELCOME TO OUR</h1>
                <h5 class="font-extrabold">Healthy Food</h5>
                <h5 class="font-extrabold -mt-4">Collection!</h5>
            </div>

            <p class="tracking-tight text-gray-400 text-justify text-sm mt-8" style="width: 450px;">Consuming a healthy diet throughout the life-course helps to prevent malnutrition in all its forms as well as a range of noncommunicable diseases (NCDs) and conditions.</p>
            <button class="mt-10 rounded-full font-bold text-emerald-500 py-1 px-8 border-2 border-emerald-500 text-lg">Shop Now</button>
        </div>
        

        <div>
            <img src="assets/images/home.png">
        </div>
    </div>
</div>
